html { 
	overflow-y: scroll;
}

body { 
	padding-top: 50px; 
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

#todo-form {
	margin-bottom: 30px;
}

#todo-list {
	margin-bottom: 30px;
}

#todo-list .panel-body {
	word-wrap: break-word;
}

#priorityLabel {
	display: inline;
}

/*.existingTodo:hover {
	background-color: gray;
	color: white;
	cursor: pointer;
}

.existingTodo {
	border: 1px solid #428bca;
	margin-bottom: 5px;
	border-radius: 5px;
}*/

/* Animations */

.animation, .panel-animation {
  	transition: 1s linear all;
 	-webkit-transition: 1s linear all;
  	opacity: 1;
}

.animation.disabled {
	opacity: 0.5;
}

.animation.ng-enter {
  	opacity: 0;
}

.animation.ng-hide {
  	opacity: 0;
}

.animation.ng-hide-active {
    opacity: 0;
}

.animation.ng-leave {
  	opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  	opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  	opacity: 0;
}

.animation.ng-hide-add, .animation.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. 
     */
  	display: block!important;
}

/* Alerts */

.alert {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 7000;
}
