html { 
	overflow-y: scroll;
}

body { 
	padding-top: 50px; 
}

#todo-form {
	margin-bottom: 30px;
}

#todo-list {
	margin-bottom: 30px;
}

.hide-true {
	display: none;
}

#todo-list .panel-body {
	word-wrap: break-word;
}