<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
	<h1>You have <span class="label label-info">{{ todos.length }}</span> todos</h1>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<!-- FORM TO CREATE TODOS -->
	<div id="todo-form" class="panel panel-primary">
		<div class="panel-heading text-center">
	    	<h3 class="panel-title">Add a new todo...</h3>
	  	</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<input type="text" id="todoBox" class="form-control input-lg" placeholder="TODO" ng-model="formData.text">
				</div>

				<div class="form-group">
					<select class="form-control" id="userPicker">
					  <option>Wouter</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>

				<!-- createToDo() WILL CREATE NEW TODOS -->
				<div id="submitButton">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<!-- TODO LIST -->
	<div id="todo-list" class="panel panel-primary"> 
		<div class="panel-heading">
	    	<h3 class="panel-title text-center">Manage your todos...</h3>
	  	</div>
		  	<div class="panel-body text-center">

		  	<div class="hide-{{ todos.length > 0 }}">
		  		No todos...
		  	</div>

			<!-- LOOP OVER THE TODOS IN $scope.todos -->
			<div class="checkbox" ng-repeat="todo in todos">
				<label>
					<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
				</label>
			</div>
		</div>
	</div>
</div>