
<alert class="animation text-center" ng-repeat="alert in alerts" type="alert.type" close="alert.close()">
	{{ alert.msg }}
</alert>

<!-- HEADER AND TODO COUNT -->

<div class="jumbotron text-center">
	<h1>You have <span class="label label-info">{{ todos.length }}</span> todos</h1>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<!-- FORM TO CREATE TODOS -->
	<div id="todo-form" class="panel panel-primary">
		<div class="panel-heading text-center">
	    	<h3 class="panel-title">Add a new todo...</h3>
	  	</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<label for="todoBox" id="todoLabel">Description</label>
					<input type="text" id="todoBox" class="form-control input-lg" placeholder="So much to do, so little time!" ng-model="formData.text">
				</div>

				<div class="form-group">
					<label for="priorityPicker" id="priorityLabel">Priority</label>
					<select class="form-control" id="priorityPicker">
						<option>Critical</option>
						<option>Major</option>
						<option>Minor</option>
						<option>Trivial</option>
						<option selected="selected">Undefined</option>
				  	</select>
				</div>

				<!-- createTodo() WILL CREATE NEW TODOS -->
				<div id="submitButton">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">
						<span class="glyphicon glyphicon-plus"></span> 
						Add
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<div class="animation" ng-class="{'disabled': todos.length == 0}">
		<!-- TODO LIST -->
		<div id="todo-list" class="panel panel-primary"> 
			<div class="panel-heading">
		    	<h3 class="panel-title text-center">Manage your todos...</h3>
		  	</div>
		  	<div class="panel-body">

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="existingTodo text-center bg-success" ng-repeat="todo in todos" ng-click="deleteTodo(todo._id)">
					<label for="deleteTodo">
						{{ todo.text }}
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<br />

