<alert class="animation text-center" ng-repeat="alert in alerts" type="alert.type" close="alert.close()">
	{{ alert.msg }}
</alert>

<!-- HEADER AND TODO COUNT -->

<div class="jumbotron text-center">
	<h1>You have <span class="label label-info">{{ todos.length }}</span> todos</h1>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<!-- FORM TO CREATE TODOS -->
	<div id="todo-form" class="panel panel-primary">
		<div class="panel-heading text-center">
	    	<h3 class="panel-title">Add a new todo...</h3>
	  	</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<label for="todoBox" class="col-sm-1 control-label" id="todoLabel">Description</label>
					<div class="col-sm-offset-1 col-sm-10">
						<input type="text" id="todoBox" class="form-control input-lg" placeholder="So much to do, so little time!" ng-model="formData.description">
					</div>
				</div>

				<div class="form-group">
					<label for="priorityPicker" class="col-sm-1 control-label" id="priorityLabel">Priority</label>
					<div class="col-sm-offset-1 col-sm-10">
						<select class="form-control" id="priorityPicker" ng-options="prio for prio in priorities" ng-model="formData.priority">
				  		</select>
				  	</div>
				</div>

				<div class="form-group">
					<label for="dueDatePicker" class="col-sm-1 control-label" id="priorityLabel">Due</label>
			        <div class="col-md-6">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formdata.dueDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
				</div>

				<!-- createTodo() WILL CREATE NEW TODOS -->
				<div class="btn-group">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">
						Add
					</button>
					<button type="reset" class="btn btn-primary btn-lg">
						Reset
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
	<div class="animation" ng-class="{'disabled': todos.length == 0}">
		<!-- TODO LIST -->
		<div id="todo-list" class="panel panel-primary"> 
			<div class="panel-heading">
		    	<h3 class="panel-title text-center">Manage your todos...</h3>
		  	</div>
		  	<div class="panel-body">

		  		<table class="table table-hover table-condensed" ng-if="todos.length > 0">
		  			<thead>
		  				<tr>
		  					<th>Description</th>
		  					<th>Priority</th>
		  					<th>Date Created</th>
		  					<th>Date Due</th>
		  					<th></th>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr ng-repeat="todo in todos" ng-class="{'danger': isCritical(todo)}">
		  					<td>{{ todo.description }}</td>
		  					<td>{{ todo.priority }}</td>
		  					<td>{{ getCreateDateTime(todo) }}</td>
		  					<td>{{ getDueDateTime(todo) }}</td>
		  					<td>
		  						<button type="button" class="btn btn-xs btn-success" ng-click="deleteTodo(todo._id)">
		  							<span class="glyphicon glyphicon-ok"></span>
		  						</button>
	  						</td>
		  				</tr>
		  			</tbody>
		  		</table>

			</div>
		</div>
	</div>
</div>

<br />

